<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coder.vincent.smart_dialog">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx.startup"
            android:exported="false"
            tools:node="merge"
            tools:replace="android:authorities">
            <meta-data
                android:name="com.coder.vincent.smart_dialog.SmartDialogInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>
